* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #1e2140;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
}
.header {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
}
.main {
  width: 35%;
}

.pomodoro-time {
  display: flex;
  justify-content: space-between;
}
.pomodoro-time-type {
  padding: 20px 50px;
  font-size: 20px;
  text-align: center;
}

.clock {
  height: 500px;
  display: grid;
  place-items: center;
}

.circle {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  background-color: #161932;

  display: grid;
  place-items: center;
}

.timeline {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #1e2140;

  display: grid;
  place-items: center;
  position: relative;
  font-weight: bold;
}

.time {
  font-size: 90px;
}
.option {
  position: absolute;
  top: 70%;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 30px;
  letter-spacing: 10px;
}
.circle__content {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  z-index: 5;
  animation: line 6s linear forwards;
}

.circle__content::before {
  background-color: coral;

  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  animation: mask_right 6s;
}

.timeline::before {
  background-color: #1e2140;
  z-index: 10;
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  animation: mask_right 6s steps(1, end) forwards;

  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.timeline::after {
  background-color: coral;

  content: "";
  width: 50%;
  height: 100%;
  right: 0;
  position: absolute;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  animation: mask_left 6s steps(1, end) forwards;
}

.time-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  background-color: #161932;
  z-index: 10;
  display: grid;
  place-items: center;
}

@keyframes line {
  0% {
    transform: rotate(var(--deg));
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes mask_left {
  0% {
    visibility: visible;
  }
  50%,
  100% {
    visibility: hidden;
  }
}

@keyframes mask_right {
  0% {
    visibility: hidden;
  }
  50%,
  100% {
    visibility: visible;
  }
}
