* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: #1e2140;
  --darkRed: #c54620;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: var(--darkBlue);
  color: white;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-frame {
  background-color: var(--darkBlue);
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
}

.btn {
  font-size: 20px;
  height: 100px;
  width: 150px;
  padding: 15px;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  background-color: var(--darkRed);
  color: var(--darkBlue);
  font-weight: bold;
}

.btn:active {
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: system-ui;
}

header {
  text-align: center;
  font-size: 25px;
  height: 20vh;
}

/*  TIME TYPES */

.pomodoro-time {
  justify-content: space-evenly;
  margin-bottom: 20px;
}

/* CLOCK */

.clock {
  width: 40%;
  min-width: calc(150px * 3);
  height: 40vh;
  padding: 3%;
  flex-direction: column;
  justify-content: space-evenly;
}

.time {
  font-size: 110px;
}

.control-btns {
  width: 80%;
}

.control-btns > div {
  height: 50px;
  width: 33.3%;
}

@media screen and (max-width: 960px) {
  .time {
    font-size: 100px;
  }
}

@media screen and (max-width: 760px) {
  .btn {
    width: 33.3%;
  }

  .clock,
  .pomodoro-time {
    width: 90%;
    min-width: 90%;
  }

  .time {
    font-size: 90px;
  }

  .btn p {
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .btn p {
    font-size: 17px;
  }
}
